body {
    margin: 25px;
    background-color: #241422;
    color: #e2d6c5;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1, h2, h3 {
    color: #ffffff;
    font-family: 'Pacifico', cursive;
    font-style: italic;
    text-shadow: 1px 3px 8px #7c746996;
}

div {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #00000055;
}

a {
    color: #6d5451;
}

.author {
    font-weight: bold;
    color: #c7b593;
}

.source {
    font-style: italic;
}


ul {
    list-style-type:square
}

li {
    line-height: 1.2;
    margin-bottom: 10px;
}

figure {
    margin-bottom: 30px;
}

img {
    box-shadow: 3px 3px 5px #b3a697;
    display:flex;
    justify-content: center;
}

figcaption {
    font-size: 0.6em;
    color: #8a8a8a;
}

.credit {
    font-size: 0.8em;
    color: #a8a8a8;
    text-align: left;
}

fieldset {
    width: 270px;
    border: 3px solid #7c7c7c;
    border-radius: 6px;
    padding: 10px 10px;
    box-shadow: 2px 2px 8px #e0e0e055;
    background-color: #000000;
}

legend {
    font-weight:bolder
}

input {
    padding: 6px 10px;
    border: 1px dashed #8b5100;
    border-radius: 5px;
    background-color: #f5e1b4;
    box-shadow: 1px 1px 4px #e2b77c33;
    font-size: 0.6em;
}

ol {
    margin-left: 30px;
    padding: 5px;
}

p {
    font-size: 0.8em;
    color: #917e5e;
    text-align: right;
}

hr {
    border: 1px solid #664413;
    margin: 20px 0;
}

.rate {
    color: #7f96ff;
    font-size: 1.3em;
    font-family:'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px #a36c1e55;
    margin-top: 15px;
}

.container {
    display: grid;
    margin: 10px;
    grid-template-areas: 
        "header header header"
        "links picture rating"
        "ingredients equipment directions"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 1.5fr;
}

#header {
    grid-area: header;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    background-color: #c08e54;
    border: 2px solid #8f734c;
    width: 100%;
}

#links {
    grid-area: links;
}

#picture {
    grid-area: picture;
}

#rating {
    grid-area: rating;
}

#ingredients {
    grid-area: ingredients;
}

#equipment {
    grid-area: equipment;
}

#directions {
    grid-area: directions;
}

#footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #8f734c;
    width: 100%;
}